.team-introduction {
    margin-left: 70%;
    /* margin-bottom: 50%; */
    background-color: #cecbcb;
    display: block;
}

.HW1-container {
  background-color: #cecbcb;
}

.HW2-container {
  background-color: #cecbcb;
}

.analytics-app-container {
  background-color: #cecbcb;
  
}
section{
  margin: 10px auto;

}
