#logoutBtn {
    background-color: darkblue;
    color: #fff;
    height: 50px;
    width: 15%;
    margin-left: 85%;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    border: none;
}

#usersZing{
    text-align: center;
}