<header>
    <img src ="/public/img/ucsdResize.png">
    
    <ul class="nav">
    <li class="navlink"><a href="/login">Home</a></li>
    <li class="navlink"><a href="/report">Generate Report</a></li>
    <li class="navlink"><a href="/logout" >Logout</a></li>
    
    </ul>
    
    </header>
    <link rel="stylesheet" href="/public/stylesheets/navbar.css">
