name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Deploy website
      uses: appleboy/ssh-action@v0.1.2
      with: 
        host: ${{secrets.SSH_HOST}}
        key: ${{secrets.SSH_KEY}}
        username: ${{secrets.SSH_USERNAME}}

        script: |
          rm -rf actual
          mkdir actual
          cd actual
          git clone https://github.com/Alex-942/ucsddev-site.git
          rsync -r ~/actual/ucsddev-site/dev/* /var/www/ucsddev.site/
          rsync -r ~/actual/ucsddev-site/reporting/public_html/* /var/www/reporting.ucsddev.site/public_html/
          rsync -r ~/actual/ucsddev-site/collector/* /var/www/collector.ucsddev.site/
          echo 'Deployment successful to digital ocean'
